<% if @planet.errors.any? %>
	<% @planet.errors.full_message.each do |msg| %>
		<p><%= msg %></p>

<%= form_for :planet, url: planets_path do |f| %>
	Name: <%= f.text_field :name, class: 'name' %><br/>
	Diameter: <%= f.number_field :diameter %><br/>
	Solid: <%= f.check_box :solid %><br/>
	Order: <%= f.number_field :order %><br/>
	Explored: <%= f.check_box :explored %><br/>
	Rings: <%= f.check_box :rings %><br/>
	Moons: <%= f.number_field :moons %><br/>
	Image: <%= f.text_field :image %><br/>
	Atmosphere: <%= f.text_field :atmosphere %><br/>
	Distance from Sun: <%= f.number_field :distance_from_sun %><br/>
	<%= f.submit 'Create Planet', class: 'my-btn' %>
<% end %>
